.main_button {
    outline: none;
    border: none;
    padding: 1em 2em;
    border-radius: 5px;
    color: var(--text-color);
    font-size: 1.8rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background-color: var(--pry-btn);
}

.main_button:hover {
    background: var(--pry-btn) !important;
    box-shadow: 2px 2px 6px rgba(255, 255, 255, 0.4);
}