.main_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

.main_header .main_header__logo {
    width: 62px;
    height: 16px;
}

.main_header .main_header__logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

