.main_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

.main_header .main_header__logo {
    width: 62px;
    height: 16px;
}

.main_header .main_header__logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
header.main_header nav>ul {
    display: flex;
    align-items: center;
    gap: 1em;
    font-size: 1.8rem;
    font-weight: 500;

}

header.main_header nav>ul>li {
    position: relative;
    padding-bottom: 0.3em;
    transition: all 0.3s ease-in-out;
}

header.main_header nav>ul>li::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: linear-gradient(180deg, var(--bg-grad-1) 0%, var(--bg-grad-2) 100%);
    transition: all 0.3s ease-in-out;
    transform: scale(0);
    transform-origin: center;
}



header.main_header nav>ul>li:hover {
    font-weight: bold;
}

header.main_header nav>ul>li:hover::after {

    transform: scale(1);
}


.main_header .main_header__button {
    display: flex;
    gap: 1em;
}



/* burger menu */
.main_header__hamburger {
    display: none;
    cursor: pointer;
}

.main_header__hamburger input {
    display: none;
}

.main_header__hamburger svg {
    /* The size of the SVG defines the overall size */
    height: 3em;
    /* Define the transition for transforming the SVG */
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    /* Define the transition for transforming the Stroke */
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
    stroke-dasharray: 12 63;
}

.main_header__hamburger input:checked+svg {
    transform: rotate(-45deg);
}

.main_header__hamburger input:checked+svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}

@media (width < 1040px) {
    .main_header__hamburger {
        display: block;
        z-index: 1000;
    }

    .main_header {
        position: relative;
    }

    header.main_header nav {
        position: absolute;
        left: 0%;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(3px);
        z-index: 999;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header.main_header nav>ul{
         flex-direction: column;
         width: 100%;
    }
}
 
@media (width <= 400px){
    header.main_header .main_header__button{
        display: none;
    }
} 
