.banner_section{
    display:flex ;
    align-items: center;
    gap: 1em;
}

.banner_section>div{
    flex: 1;
}


.banner_section .banner_section__left h1{
    font-size: 5.5rem;
    font-weight: 800;
    line-height: 110%;
    margin-bottom: 0.7em;
}
.banner_section .banner_section__left p{
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 0.7em;
    color:var(--text-color2);
}
.banner_section__input_box{
    margin-top: 40px;
}
.banner_section__input_box input{
    padding: 1em 1em;
    font-size: 1.8rem;
    width: 70%;
    background: #052D56;
    border: none;
    outline: none;
    color: var(--text-color2);
}
.banner_section__input_box button {
    border-radius: 0px;
}

.banner_section__left .banner__footer_section{
    margin-top: 3em;
    display: flex;
    gap: 2em;
    align-items: center;
}

.banner__footer_section .img_container{
    display: flex;
    align-items:center ;
}

.banner_section .banner__footer_section img,
.banner__footer_section .last_img {
    width: 36px;
    height: 36px;
    object-fit: contain;
    border-radius: 50%;
    margin-left: -12px;
}

.banner__footer_section .last_img {
    border: 2px solid white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #13DeD2;
    color: black;
    font-weight: 800;
}

.banner_section .banner__footer_section p {
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
}
.banner_section .banner_section__right img {
    width: 100%;
    height: 100%;
}
